

:host {

  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }

  .msg-text {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .msg-info-time {
    font-size: 0.85em;
  }
}

:host[role="system"] {
  display: none;
}
