:host[role="system"] {
  align-self: center;
}

:host {
  margin-top: 1rem;

  .msg-bubble {
    max-width: 50vw;
    padding: 15px;
    border-radius: 8px;
    background: #f1f1f1;
  }

  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }

  .msg-text {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .msg-info-time {
    font-size: 0.85em;
  }
}


:host[role="system"] {
  .msg-bubble {
    background: #fff;
    border: 2px solid #f1f1f1;
  }
}

:host[role="assistant"] {
  align-self: flex-start;

  .msg-bubble {
    border-bottom-left-radius: 0;
  }
}

:host[role="user"] {
  align-self: flex-end;

  .msg-bubble {
    background: #3448bacc;
    color: #fff;
    border-bottom-right-radius: 0;
  }
}
