:host {
  display: block;
  margin: 3rem;

  form {
    h1 {
      font-size: 1.4rem;
      margin: 0;
      font-weight: 700;
    }

    .prompt-recap {
      white-space: pre-wrap;
      word-wrap: break-word;
      width: calc(100vw - 6rem);
    }

    .variables-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

}
