<div class="p-2 max-h-full text-sm">
  <div *ngIf="prompt">
    <div class="text-xl">{{prompt.name}}</div>
    <div class="text-sm text-gray-500">{{prompt.description}}</div>
  </div>

  <div class="flex flex-col gap-5 h-full mt-2">
    <div class="g-card shadow">
      <form *ngIf="usePromptForms" [formGroup]="usePromptForms" (ngSubmit)="startEngine()">
        <div class="whitespace-pre-wrap"> {{preview}}</div>


        <div class="mt-2">
          <mat-divider></mat-divider>
        </div>


        <div class="font-bold mt-5" i18n>Variables:</div>
        <div class="flex flex-col">
          <mat-form-field *ngFor="let variable of usePromptForms.controls.variables?.controls" appearance="outline">
            <input matInput [formControl]="variable.controls.value">
          </mat-form-field>
        </div>

        <div class="flex w-full justify-center">
          <button [disabled]="!userService.userAuthenticated" class="rounded inline-flex items-center bg-indigo-500 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-gray-500">
            <mat-icon>psychology</mat-icon>
            <span class="mx-1" i18n>Run It</span>
          </button>
        </div>

      </form>

    </div>


    <div class="border-dashed border-2 border-gray-300 rounded-md flex items-center">
      <div class="w-full h-full" *ngIf="isSessionInitialized; else noResult">
        <app-chat></app-chat>
      </div>
    </div>
  </div>


  <ng-template #noResult>
    <div class="w-full justify-center text-gray-300 font-bold text-xl h-64 flex items-center">
      <ng-container *ngIf="userService.userAuthenticated" i18n>
        Run the prompt to see output
      </ng-container>
      <ng-container *ngIf="!userService.userAuthenticated" i18n>
        Log in to launch this prompt
      </ng-container>
    </div>
  </ng-template>
</div>
