<div class="g-card w-full h-full">
  <div class="flex flex-row justify-between">
    <h2><span *ngIf="team">{{team.name}} > </span>Prompts</h2>

    <div class="flex gap-2 items-start">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchTerm"/>
      </mat-form-field>

      <button class="g-button-primary" [routerLink]="'/contribute/teamId/' + team?.id">
        <mat-icon>add_box</mat-icon>
        Create a prompt
      </button>
    </div>

  </div>

  <app-prompts-table *ngIf="!isLoading" [searchTerm]="searchTerm" [prompts]="prompts" [teamMode]="!!team" (deleted)="delete($event)"></app-prompts-table>
</div>
