<div *ngIf="workspaceService?.currentWorkspace" class="g-screen-container flex flex-col gap-5">
  <div class="g-title-1">{{workspaceService.currentWorkspace?.name}}</div>

  <div class="cards-item-menu">
    <div routerLink="teams">
      <h2>Teams</h2>
      <div>
        <span *ngIf="!teamService.isTeamsLoading">{{teamService.teams.length}}</span>
      </div>
    </div>

    <div routerLink="members">
      <h2>Members</h2>
      <div>
        <span>{{getMembersCount()}}</span>
      </div>
    </div>
  </div>


  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>


</div>
