<div class="g-screen-container flex flex-col gap-5">
  <div class="w-9/12 flex space-x-3">
    <mat-form-field appearance="outline" class="w-1/2">
      <mat-label>Search a prompt</mat-label>
      <input matInput placeholder="Search a prompt" [(ngModel)]="searchInput" (ngModelChange)="search()"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-1/2">
      <mat-label>Category</mat-label>
      <mat-select (selectionChange)="categorySelect($event)" [(ngModel)]="categorySelectedId">
        <mat-option *ngFor="let category of categories$ | async"
                    [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--  Results component-->
  <div class="grid grid-cols-4 gap-4">
    <app-prompt-card *ngFor="let prompt of filteredPrompts"
                     [prompt]="prompt"
                     [isInList]="isInList(prompt)"
                     (removedFromList)="removeFromList($event)"
                     (addedToList)="addToList($event)"></app-prompt-card>
  </div>


</div>
