<div class="g-screen-container flex flex-col gap-5">
  <div>
    <div class="g-title-1">Gallery</div>
    <div class="g-sub-title">Explore community prompt</div>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="flex-grow">
      <mat-label i18n="search a prompt">Search a prompt</mat-label>
      <input matInput [(ngModel)]="searchInput" (ngModelChange)="loadFilteredPrompt()" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="category">Category</mat-label>
      <mat-select (selectionChange)="categorySelect()" [(ngModel)]="categorySelectedId">
        <mat-option [value]="undefined" i18n="all categories"><b>All Categories</b></mat-option>
        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="language">Language</mat-label>
      <mat-select (selectionChange)="langSelect()" [(ngModel)]="langSelected">
        <mat-option [value]="undefined" i18n="all categories"><b>All Languages</b></mat-option>
        <mat-option *ngFor="let language of languagesList" [value]="language.value">
          <div class="flex flex-row gap-5 items-center">
            <img [src]="'/assets/images/flags/' + language.flag + '.svg'" alt="flag" width="25" class="rounded">
            <span>{{language.name}}</span>
          </div>

        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--  Results component-->
  <div class="prompt-list">
    <app-prompt-card *ngFor="let prompt of filteredPrompts" [prompt]="prompt"></app-prompt-card>
  </div>


</div>
