<mat-toolbar>
  <mat-toolbar-row>
    <!-- <span> ⚡ The accelerator ⚡</span> -->
    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon>
      <span i18n="home">Home</span>
      <span class="example-spacer"></span>
    </button>
    <button mat-button routerLink="/prompts">
      <mat-icon>checklists</mat-icon>
      Prompts
      <span class="example-spacer"></span>
    </button>
    <button mat-button routerLink="/gallery">
      <mat-icon>dashboard</mat-icon>
      <span i18n="gallery">Gallery</span>
      <span class="example-spacer"></span>
    </button>
    <button mat-button routerLink="/contribute">
      <mat-icon>add</mat-icon>
      <span i18n="create prompt">Create prompt</span>
      <span class="example-spacer"></span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
