<div class="h-12">
  <ng-container *ngIf="!isLoading; else loading">
    <div class="workspace-container" [matMenuTriggerFor]="menu">
      <span>{{workspaceService.currentWorkspace?.name || 'Personal Workspace' }}</span>
      <mat-icon class="text-gray-500">unfold_more</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let workspace of userService.workspaceList">
        <button class="workspace-name-menu" (click)="changeWorkSpace(workspace)">
          {{workspace.name}}
        </button>
      </ng-container>
      <div class="flex justify-center p-2">
        <a class="g-button-gray" [routerLink]="'/workspace/create'">
          Create a new Workspace
        </a>

      </div>
    </mat-menu>

  </ng-container>
</div>


<ng-template #loading>
  <app-skeleton-loader></app-skeleton-loader>
</ng-template>
