<mat-card *ngFor="let prompt of prompts$ | async" class="example-card">
  <mat-card-header>
    <mat-card-title>{{prompt.name}}<mat-chip-listbox>
        <mat-chip-option *ngFor="let category of prompt.categories">{{category.name}}</mat-chip-option>
      </mat-chip-listbox></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ prompt.text }}</p>


    <p>
      <strong> Variables: </strong>
    </p>

    <ul>
      <li *ngFor="let variable of prompt.promptVariables"> {{variable.value}}</li>
    </ul>


    <mat-card-actions>
      <button mat-fab extended color="primary" [routerLink]="prompt.id">
        <mat-icon>electric_bolt</mat-icon>
        Use it
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>