<div class="content">
  <app-message *ngFor="let message of chatSession?.messages" [message]="message"></app-message>
</div>

<form class="chat-bar">
  <mat-form-field appearance="fill">
    <mat-progress-bar *ngIf="chatSession?.isLoading" mode="indeterminate"></mat-progress-bar>
    <textarea matInput class="msger-input" [formControl]="chatInputCtrl" placeholder="Enter your message..."
      (keyup.enter)="sendMessage()">
    </textarea>
  </mat-form-field>

  <button class="send-button" mat-button color="primary" type="button" (click)="sendMessage()">Send
    <mat-icon>send</mat-icon>
  </button>
</form>