/* You can add global styles to this file, and also import other style files */
// Colors
$primary-color: #C296FF;
$secondary-color: #AAEDFD;
$accent-color: #FF9A9A;
$black-color: #121316;
$light-grey: #F1F5FF;


// Utilisation des variables de couleurs générées
body {
  background-color: $light-grey;
  color: $black-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Font classes
.g-title-1 {
  font-size: 2em;
  font-weight: bolder;
}

// Global classes

.g-text-centered {
  text-align: center;
}

.g-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alignement vertical */
  align-items: center; /* Alignement horizontal */
}

.g-row {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alignement horizontal */
  justify-content: space-around;
}

.g-top-space {
  margin-top: 1em;
}

.g-card {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
}
