<div class="g-title-line">
  <span>Your prompts</span>
  <mat-icon>add</mat-icon>
</div>
<ng-container *ngIf="userService.promptList.length > 0; else noData">
  <div *ngFor="let prompt of userService.promptList"
       class="g-prompt-line"
       (click)="goToPrompt(prompt)">
    <mat-icon>chevron_right</mat-icon>
    <span class="flex-grow">{{prompt.name}}</span>
  </div>
</ng-container>


<ng-template #noData>
  <div class="h-full items-center">
    <app-no-data></app-no-data>
  </div>
</ng-template>
