<div class="g-screen-container flex justify-center">

  <form [formGroup]="createPromptForms" (ngSubmit)="createPromptForms.valid && save()" #myForm="ngForm"
        class="flex flex-col w-1/2 g-card shadow">

    <div class=g-card-title i18n="create prompt">Create a new prompt</div>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Who is this prompt for ?</mat-label>
      <mat-select formControlName="scope">
        <mat-option [value]="'personal'">
          <mat-icon>lock</mat-icon>
          Personal use
        </mat-option>
        <mat-option [value]="'public'">
          <mat-icon>public</mat-icon>
          Public
        </mat-option>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let team of teams$ | async" [value]="team.id">
          <mat-icon>people</mat-icon>
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label i18n>Name</mat-label>
      <input matInput placeholder="A killer prompt for sales" formControlName="name">
    </mat-form-field>

    <div class="flex gap-4">

      <mat-form-field appearance="outline" class="w-1/2">
        <mat-label>Model</mat-label>
        <mat-select formControlName="model">
          <mat-option [value]="modelEnum.GPT35Turbo">
            <mat-icon>bolt</mat-icon>
            GPT-3.5
          </mat-option>
          <mat-option [value]="modelEnum.GPT4">
            <mat-icon>auto_awesome</mat-icon>
            GPT-4
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/2">
        <mat-label i18n="language">Language</mat-label>
        <mat-select formControlName="lang">
          <mat-option *ngFor="let language of languagesList" [value]="language.value">
            <div class="flex flex-row gap-5 items-center">
              <img [src]="'/assets/images/flags/' + language.flag + '.svg'" alt="flag" width="25" class="rounded">
              <span>{{language.name}}</span>
            </div>

          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="text-gray-500 text-xs p-2">
      <span>You can make the prompt variable by inserting the following tags:</span>
      <ul>
        <li><span class="text-gray-600">text(VARIABLE NAME)</span> : to create a variable to be filled in a regular field.</li>
        <li><span class="text-gray-600">longText(VARIABLE NAME)</span> : to create a variable to be filled in a text area.</li>
      </ul>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Prompt</mat-label>
      <textarea matInput i18n-placeholder="prompt create-placeholder"
                placeholder="Put prompt variables between text(), eg: Act as persona text(PERSONA)" rows="15"
                formControlName="text"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput i18n-placeholder="description help" placeholder="Description to help users to understand it"
                rows="3" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="categories$ != null">
      <mat-label i18n>Category</mat-label>
      <mat-chip-grid #chipGrid aria-label="Fruit selection" formControlName="categories">
        <mat-chip-row *ngFor="let category of categories; let i=index" (removed)="remove(i)">
          {{category.name}}
          <button matChipRemove [attr.aria-label]="'remove ' + category.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input type="text" placeholder="Software engineer" aria-label="Category" matInput [formControl]="categoryCtrl"
             multiple [matAutocomplete]="auto" [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayCategory"
                        (optionSelected)="selected($event)">
        <mat-option *ngFor="let category of categories$ | async" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="flex flex-row justify-center" *ngIf="!isEditing">
      <button type="submit" [disabled]="!createPromptForms.valid"
              class="rounded inline-flex items-center bg-fuchsia-800 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-fuchsia-700 focus-visible:outline focus-visible:outline-2 disabled:bg-gray-500 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <mat-icon>add</mat-icon>
        <span class="mx-1" i18n>Create my prompt</span>
      </button>
    </div>

    <div class="flex flex-row justify-center" *ngIf="isEditing">
      <button type="submit" [disabled]="!createPromptForms.valid"
              class="rounded inline-flex items-center bg-fuchsia-800 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-fuchsia-700 focus-visible:outline focus-visible:outline-2 disabled:bg-gray-500 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <mat-icon>edit</mat-icon>
        <span class="mx-1" i18n>Save modifications</span>
      </button>
    </div>

  </form>
</div>
